/* .App {
  text-align: center;
  background-size: fill;
}
label{
  text-align: left;
} */
/* .formgroup{
  margin: 10px;
}
  label{
    display: inline-block;
    width: auto;
    text-align: left;
  }
  form{
    background-size: cover;
    display: inline-block;
    width: 450px;
} */
  /* .GenderCheckbox{
  display: flex;
   margin-left: 50%;
  } */

  /* .GenderLabel{
    margin-left: -180px;
  } */

  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

  ul.navbar li {
    display: inline-block;
    margin-right: 10px;   
}

  ul.navbar li a {
    display: block;
    padding: 15px;
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  ul.navbar li a:hover {
    background-color: rgba(63, 21, 214, 0.2);
    border: 0.1px solid rgba(63, 21, 214, 0.2);
    border-radius: 20px;
     transition: 1s;
  }

  /* .SignUpButton{
    margin: 2% 40% ;
  }
  .SendBtn{
  margin: 2% 40% ;
  } */